.HeaderNav {
  margin: 1rem 1rem;
  font-weight: bolder;
}

.HeaderNav_nav {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.HeaderNav_link_btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.HeaderNav_brand {
  cursor: pointer;
}

.hover_color *:hover {
  cursor: pointer;
  color: var(--color-primary);
}
