.landingSection {
  height: 90vh;
  display: flex;
  align-items: center;

  background-color: #eee;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.wrapper.center {
  justify-content: center;
}

.wrapper.center > .contents {
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contents.right {
  text-align: right;
  align-items: flex-end;
}

.newLine {
  white-space: pre-wrap;
}

.title {
  line-height: 125%;
}

.description {
  line-height: 150%;
}

.action {
  width: 128px;
}

.tempImg {
  width: 512px;
  height: 512px;
  background-color: var(--color-secondary);
}