.membershipInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.table {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: var(--color-grey-300);
  background-color: #EEE0FD;
}

.table th,
.table td {
  padding: 1.25rem;
}

.tableHead {
  font-weight: 700;
}

.checkIcon {
  color: var(--color-vip);
}

.content {
  background-color: whitesmoke;
}

.columnHead {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.subscribeBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.subscribeBtn p {
  color: var(--color-error);
  font-weight: 500;
}

.currentState {
  color: white;
  background-color: var(--color-vip);
}

.table_border_bottom {
  border-bottom: 2px solid white;
}

.table_border_right {
  border-right: 2px solid white;
}