.userProfileForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.mainProfileContainer {
  display: flex;
  justify-content: space-between;
}

.mainProfile {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameAndBadge {
  display: flex;
  gap: 1rem;
}

.name {
  font-size: 2rem;
  font-weight: 500;
}

.nickname {
  font-size: 2rem;
  color: var(--color-grey-300);
}

.label {
  font-size: 1.25rem;
  font-weight: 600;
}

.subProfileContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.phoneInput {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.phoneInput > div {
  width: 50%;
}

.countryContainer {
  width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.countryFlag {
  width: 3rem;
  height: 2rem;
  margin-bottom: 2px;
  background-color: var(--color-grey-100);
}