.chatting{
  height: 100%;
  display: flex;
  flex-direction: column;

}


.flex_item_log {
  flex-grow: 1;
}

.flex_item_input {
  flex-grow: 0;
}

.sheet_height {
  height: 100%;
}

.chatting_log {
  height: 100%;
}

.chatting_input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-grey-300);
  outline: none;
  font-size: 1rem;
}

