.meeting_wrapper {
  height:  calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.meeting {
  display: flex;
  justify-content: center;
}

.left_display {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right_display {
  display: grid;
  grid-template-rows: 55% 45%;
}

