.btns_wrapper {
    margin: 2rem ;
    /* text-align:  center; */
    /* width: 100%; */
}

.icon {
  color: var(--color-success);
  font-size: 2rem;
  margin-left:3rem;
  position: relative;
  top: 5px;
}

.timer {
  color: var(--color-success);
  font-size: 2rem;
  margin: 0.5rem;
}

/* .matching_event:nth-last-child() {
  margin-left: 3rem;
} */