

.section_size_wide {
  width: 40vw;
  min-width: 600px;
  max-width: 1000px;
  height: 70vh;
}

.section_size_narrow {
  width: 40vw;
  min-width: 600px;
  max-width: 1000px;
  height: 35vh;
}

.user_info_section {
  height: 2rem;
  display: flex;
  justify-content: space-between;
}

.video_section {
  height: 90%;
}

.heart_icon {
  color: var(--color-error);
}

.video_wrapper {
  height: 100%;
  background-color: var(--color-grey-300);
}